<ion-view title="Speaking Tab Default Page" id="page3" style="background-color:#13264B;">
  <ion-content padding="true" class="has-header">
    <form id="speakingTabDefaultPage-form9" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <label class="item item-input" id="speakingTabDefaultPage-textarea2">
        <span class="input-label"></span><textarea placeholder="Insert Text Here"></textarea></label>
    </form>
    <button id="speakingTabDefaultPage-button1" style="border-radius:1px 1px 1px 1px;" class="button button-positive button-large button-block button-outline icon ion-speakerphone"></button>
  </ion-content>
</ion-view>